:root {
  --foreground: #eff0eb;
  --background: #282a36;
  --red: #ff5c57;
  --green: #5af78e;
  --yellow: #f3f99d;
  --blue: #57c7ff;
  --magenta: #ff6ac1;
  --cyan: #9aedfe;

  --backgroundTransparent: rgba(40, 42, 54, 80);
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.playbook {
  background-color: var(--background);
}

.playbook .github-corner > svg {
  fill: var(--cyan);
  color: var(--background);
}

#install {
  color: var(--foreground);
}

#zazu {
  background-color: var(--backgroundTransparent);
  background-position: 530px 5px;
  background-repeat: no-repeat;
  background-size: 60px;
  -webkit-app-region: drag;
  cursor: move;
}

#zazu input {
  outline: none;
  font-size: 40px;
  width: 500px;
  padding: 10px;
  border: 0;
  background-color: transparent;
  -webkit-app-region: no-drag;
  cursor: auto;
  color: var(--foreground);
}

#preview {
  border: 0;
}

.results {
  display: flex;
  flex-direction: row;
}

.results ul {
  padding: 0;
  margin: 0;
  border-top: 1px solid var(--backgroundTransparent);
  max-height: 333px;
  overflow: hidden;
  width: 50%;

  &:last-child {
    width: 100%;
  }
}

.results ul + div {
  width: 50%;
}

.results li {
  display: block;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid var(--backgroundTransparent);
  -webkit-app-region: no-drag;
  cursor: pointer;
  width: 100%;
}

.results li .icon {
  color: var(--foreground);
  text-align: center;
  line-height: 30px;
  height: 30px;
  width: 30px;
  margin: 7.5px;
  float: left;
  opacity: 0.75;
}

.results li h2,
.results li h3 {
  margin: 0;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Helvetica Neue", "Calibri Light", "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 1.15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -mox-osx-font-smoothing: grayscale;
}

.results li h2 {
  color: var(--cyan);
  font-size: 20px;
  line-height: 25px;

  &:last-child {
    font-size: 20px;
    line-height: 45px;
  }
}

.results li h3 {
  color: var(--foreground);
  font-size: 15px;
  line-height: 15px;
}

.results li.active
.results li:hover {
  background-color: var(--backgroundTransparent);
  color: var(--blue);
}
