:root {
  --light: rgb(255, 255, 255);
  --grayLight: rgb(239, 240, 235);
  --gray: rgb(222, 226, 230);
  --grayDark: rgb(73, 80, 87);
  --dark: rgb(52, 58, 64);
  --fontSize: 14px;
  --iconSize: 30px;
}

html,
body {
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Calibri Light", "Roboto", sans-serif;
  font-size: var(--fontSize);
  font-weight: 300;
  letter-spacing: 1.15px;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -mox-osx-font-smoothing: grayscale;
}

/**
 * Styling for theme-preview
 */
.playbook {
  background-color: var(--dark);
}

.github-corner > svg {
  color: var(--grayDark);
  fill: var(--dark);
}

#install {
  color: var(--light);
  font-size: 1.25em;
}

/**
 * Styling for the app
 */
#zazu {
  background-color: var(--dark);
  cursor: move;
  max-height: 400px;
  overflow: hidden;
  position: relative;
  width: 600px;
  -webkit-app-region: drag;
}

/**
 * command input field
 */
#zazu input {
  background-color: transparent;
  border: 0;
  color: var(--light);
  cursor: auto;
  display: block;
  font-size: 2em;
  outline: none;
  padding: 15px;
  -webkit-app-region: no-drag;
}

/**
 * results under the searchfield,
 */
.results {
  border-top: 1px solid var(--grayDark);
  display: flex;
  flex-direction: row;
}

/**
 * preview-iframe, that could be on the left
 */
#preview {
  border: 0;
  border-left: 1px solid var(--grayDark);
}

/**
 * results-list
 * is either 100% or 50% if the preview is active
 */
.results ul {
  margin: 0;
  height: calc(400px - 63px);
  overflow: hidden;
  padding: 0;
  width: 50%;

  &:last-child {
    width: 100%;
  }
}

.results li {
  border-left: 1px solid transparent;
  border-bottom: 1px solid var(--grayDark);
  cursor: pointer;
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 5px;
  width: 100%;
  -webkit-app-region: no-drag;

  &:last-child {
    border-bottom: 0;
  }
}

.results li .icon {
  color: var(--grayLight);
  float: left;
  height: var(--iconSize);
  line-height: var(--iconSize);
  margin: 5px 10px 5px 5px;
  text-align: center;
  width: var(--iconSize);
}

.results li h2,
.results li h3 {
  margin: 0;
  overflow: hidden;
  padding-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.results li h2 {
  color: var(--light);
  font-size: 1.3em;
  line-height: 25px;

  &:last-child {
    line-height: 40px;
  }
}

.results li h3 {
  color: var(--grayLight);
  font-size: 1em;
  line-height: 15px;
}

.results li.active,
.results li:hover {
  background-color: var(--grayDark);
}
